*{
    box-sizing: border-box;
}

body{
  
    height: 100%;
    background-color: rgb(179, 169, 169);
}

.bg-body-tertiary{
    background-color: gray !important;
    background-image: none !important;
}
.div1{
    background-image: url(../Images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

p{
    padding: 10px;
    font-size: 20px;
    color: rgb(252, 252, 252);

}

.material-symbols-outlined {
    margin-top:10;
    font-weight: 1px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.inline{
    display: inline;
}

.first{
    width: 10%;
    margin-left: 40%;
}

.second{
    position: relative;
    left: 30%;
}

.next-section, .home{
    color: rgb(252, 253, 250);
    background-color: inherit;
}

.next-section:hover, .home:hover{
    color: white;
    text-decoration: underline white;
}

h1{
    color: rgb(253, 253, 253);
    text-align: center;
    text-decoration:underline;
    margin-top: 55px;
    padding: 15px;
}

.div{
    box-shadow: 5px 5px 5px greenyellow;
    background-color: green;
    margin-top: 10px;
    width: 90%;
    margin-bottom: 20px;
    animation-name: move;
    animation-duration: 5s;
    animation-delay: 0s;
}

ul{
    padding:  0px 40px 40px 40px;
}

li{ 
    color: greenyellow;
    list-style-type: circle;
    text-align: left;
    font-size: 20px;
    padding: 5px;
}

.par{
    padding: 20px;
}

.green{
    color: green;
}

@keyframes move{
    0%{height: 80%; width: 0%;}
    50%{width: 100%;}
}