*{
    box-sizing: border-box;
}
body{
    background-color: #f8dce2;
}

.bg-body-tertiary{
    background-image : linear-gradient(#C70039, #ecc2cc ) !important;

}

h1 { 
    color: #ecc2cc;
    font-size: 25px !important;
}

form{
    margin-top: 85px;
}

p{
    color: #C70039;
}

input{
    border: transparent;
    background-color: #ecc2cc;
    margin-left: 20%;
    width: 45%;
    text-align: center; 
    color: white;
}

button{
    color: white;
    border: transparent;
    background-color: #a22c47;
}

#new{
    font-size: 25px;
    margin-top: 85px;
}

.first-div {
    box-shadow: 5px 5px 5px ;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:
        #F29EB6;
    color: #C70039;
    font-size: 20px;
    animation-name: first-div;
    animation-duration: 3s;
    animation-delay: 0s;
}

ul{ 
    overflow: hidden;
    word-wrap: break-word;
    padding: 30px;
}

li{ 
    text-align: center;
    list-style-type: none;
    padding: 10px;
}

a{
    width: 90%;
    margin-top: 85px;
    background-color: #F29EB6;
    color: #C70039;
    font-size: 20px;
    text-decoration: none;
}

hr{ 
    color: #310210;
    opacity: 1;
}

.inline{
    line-height: 5.5em;
    display: inline;
    margin-left: 2%;
}

.first{
    width: 10%;
    margin-left: 30%;
}

.second{
    position: relative;
    left: 25%;
}

@keyframes first-div{
    0%  {height: 80%; width: 0%;}
    50% {width: 90%;}
}
@media (min-width: 767px) {
    .first{
        margin-left: 40%;
    }
    .second{
         left: 30%;
    }
}
@media (min-width: 576px) {
    .first{
        margin-left: 35%;
    }
    .second{
         left: 30%;
    }
}
